body{
background-image: url('https://cafedesvelado.files.wordpress.com/2016/02/grey-background-7.jpg?w=1024&h=640');
background-size: cover;
font-family: 'Roboto Mono', monospace;
color: white;
}

header{
    background-color: black;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 40px;
    animation: pulse;
    animation-duration: 1s;
}

#msg1{
    background-color: maroon;
}

#msg2{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 60%;
    margin: 0 auto;
    
}

button{
    font-family: 'Special Elite', cursive;
    color: white;
    background-color: black;
    font-size: 40px;
}

button:hover{
    background-color: maroon;
    animation: pulse;
    animation-duration: 1s;
}

h1:hover{
    color: maroon;
    
}

footer{
    background-color: grey;
    color: white;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    

    text-align: center;
}